{{ define "main" }}

<div class="post-layout">
  <article class="post-content post_content_large">
    <header class="post-header">
      <div class="post-meta">
      </div>
      <h1 class="post-title">À propos</h1>
    </header>
    <div class="post-body">
      <h2 id="qui-sommes-nous">Qui sommes-nous?</h2>
      <p>Nous sommes une troupe d&rsquo;improvisation théâtrale basée à Liège. Nous organisons et participons à des
        spectacles entièrement improvisés.
        C&rsquo;est quoi l&rsquo;impro?</p>
      <p>L&rsquo;improvisation théâtrale, c&rsquo;est une forme artistique où les participants créent spontanément des
        scènes sans script. C&rsquo;est une aventure unique à chaque instant! Les acteurs tissent des histoires
        originales, propulsées par leur imagination, tandis que le public devient le témoin privilégié de cette création
        éphémère, partageant ainsi l&rsquo;amusement et la magie de l&rsquo;exploration spontanée des émotions et des
        idées.</p>
      <h2 id="les-membres">Les membres</h2>

      <div class="flex_container text-center">
        <div class="row">
          <div class="col col-3 vertical">
            <div class="member_name">
              Alexandra
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/alex.JPG" />
            </div>

          </div>
          <div class="col col-3 vertical">
            <div class="member_name">
              Jérémy
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/jerem.JPG" />
            </div>
          </div>
          <div class="col col-3 vertical">
            <div class="member_name">
              Elodie
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/elo.JPG" />
            </div>
          </div>
          <div class="col col-3 vertical">
            <div class="member_name">
              Michael
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/michael.JPG" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-3 vertical">
            <div class="member_name">
              Sarah
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/sarah.JPG" />
            </div>

          </div>
          <div class="col col-3 vertical">
            <div class="member_name">
              Christelle
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/christelle.JPG" />
            </div>

          </div>
          <div class="col col-3 vertical">
            <div class="member_name">
              Joachim
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/joachim2.JPG" />
            </div>

          </div>
          <div class="col col-3 vertical">
            <div class="member_name">
              Arnaud
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/arnaud.JPG" />
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col col-3 vertical">
            <div class="member_name">
              Sébastien
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/goutte.JPG" />
            </div>

          </div>
          <div class="col  col-3 vertical">
            <div class="member_name">
              Clara
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/clara.JPG" />
            </div>

          </div>
          <div class="col col-3 vertical">
            <div class="member_name">
              Pierre
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/pierre.JPG" />
            </div>
          </div>
        </div>
      </div>

      <h2>Hall of Fame</h2>

      <div class="container text-center">
        <div class="row">
          <div class="col col-3 vertical">
            <div class="member_name">
              Quentin
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/quentin.JPG" />
            </div>

          </div>
        </div>
      </div>

    </div>
  </article>




</div>

{{ end }}