<div class="social-links">
    {{ range $name, $url := .Site.Params.Social }} {{ if eq $name "github" }}
    <a href="{{ $url }}" target="_blank" rel="noopener" class="social-link" title="GitHub">
        <i class="fab fa-github social-icon"></i>
    </a>
    {{ else if eq $name "twitter" }}
    <a href="{{ $url }}" target="_blank" rel="noopener" class="social-link" title="X (formerly Twitter)">
        <span class="social-icon x-icon">𝕏</span>
    </a>
    {{ else if eq $name "linkedin" }}
    <a href="{{ $url }}" target="_blank" rel="noopener" class="social-link" title="LinkedIn">
        <i class="fab fa-linkedin social-icon"></i>
    </a>
    {{ else if eq $name "email" }}
    <a href="mailto:{{ $url }}" class="social-link" title="Email">
        <i class="fas fa-envelope social-icon"></i>
    </a>
    {{ else if eq $name "mastodon" }}
    <a href="{{ $url }}" target="_blank" rel="noopener" class="social-link" title="Mastodon">
        <i class="fab fa-mastodon social-icon"></i>
    </a>
    {{ else if eq $name "youtube" }}
    <a href="{{ $url }}" target="_blank" rel="noopener" class="social-link" title="YouTube">
        <i class="fab fa-youtube social-icon"></i>
    </a>
    {{ else if eq $name "instagram" }}
    <a href="{{ $url }}" target="_blank" rel="noopener" class="social-link" title="Instagram">
        <i class="fab fa-instagram social-icon"></i>
    </a>
    {{ else if eq $name "facebook" }}
    <a href="{{ $url }}" target="_blank" rel="noopener" class="social-link" title="Facebook">
        <i class="fab fa-facebook social-icon"></i>
    </a>
    {{ else if eq $name "rss" }}
    <a href="{{ $url }}" target="_blank" rel="noopener" class="social-link" title="RSS">
        <i class="fas fa-square-rss social-icon"></i>
    </a>
    {{ end }} {{ end }}
</div>