{{ define "main" }}
<div class="container">
  <div class="author-profile-section">
    <div class="profile-photo-container">
      <img
        src="{{ .Site.Params.Author.image | absURL }}"
        alt="{{ .Site.Params.Author.name }}"
        class="profile-photo"
      />
    </div>
    <p class="profile-tagline">{{ .Site.Params.tagline | markdownify }}</p>
    {{ partial "social.html" . }}
  </div>
  <div>
Les Tou’Chouss, c’est une bande de joyeux improvisateurs liégeois qui adorent inventer, surprendre et faire rire. 
Entre spectacles, rencontres et concepts complètement barrés, on transforme chaque scène en terrain de jeu pour que vous
passiez vos meilleures soirées !
  </div>
  <div class="goto_event_section">
    <form action="/event" method="get" target="_self">
      <button class="red-btn goto_event_btn" type="submit">
        Découvrez tous nos spectacles
      </button>
    </form>
    <div class="slideshow">
      <img class="slides" src="../images/slide_1.jpg">
      <img class="slides" src="../images/slide_2.jpg">
      <img class="slides" src="../images/slide_3.jpg">
      <img class="slides" src="../images/slide_4.jpg">
      <img class="slides" src="../images/slide_5.jpg">
      <img class="slides" src="../images/slide_6.jpg">
    </div>
  </div>

<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let slides = document.getElementsByClassName("slides");
  for (let i = 0; i < slides.length; i++) slides[i].style.display = "none";
  slideIndex++;
  if (slideIndex > slides.length) slideIndex = 1;
  slides[slideIndex - 1].style.display = "block";
  setTimeout(showSlides, 3000); // Change every 3 seconds
}

function plusSlides(n) {
  slideIndex += n - 1;
  showSlides();
}
</script>
  
  <h1 class="post-title">Dernières nouvelles</h1>
  <div class="posts-list" id="posts-container">
    {{ $posts := where .Site.RegularPages "Section" "eq" "posts" }} {{
    $postsPerPage := 3 }} {{ range first $postsPerPage $posts }} {{ partial
    "post-list-item.html" . }} {{ end }}
  </div>

  {{ $posts := where .Site.RegularPages "Section" "eq" "posts" }} {{ if gt (len
  $posts) 3 }}

  {{ end }} 
</div>
{{ end }}
