{{ define "main" }}
<div class="container">
  <div class="author-profile-section">
    <div class="profile-photo-container">
      <img
        src="{{ .Site.Params.Author.image | absURL }}"
        alt="{{ .Site.Params.Author.name }}"
        class="profile-photo"
      />
    </div>
    <p class="profile-tagline">{{ .Site.Params.tagline | markdownify }}</p>
    {{ partial "social.html" . }}
  </div>
  <div>
    Nous sommes une troupe d’improvisation théâtrale basée à Liège. Nous organisons et participons à des spectacles, rencontres et concepts déjantés.
  </div>
  <div class="goto_event_section">
    <form action="/event" method="get" target="_self">
      <button class="red-btn goto_event_btn" type="submit">
        Découvrez tous nos spectaclés passés et à venir
      </button>
    </form>
  </div>
  <h1 class="post-title">Dernières nouvelles</h1>
  <div class="posts-list" id="posts-container">
    {{ $posts := where .Site.RegularPages "Section" "eq" "posts" }} {{
    $postsPerPage := 3 }} {{ range first $postsPerPage $posts }} {{ partial
    "post-list-item.html" . }} {{ end }}
  </div>

  {{ $posts := where .Site.RegularPages "Section" "eq" "posts" }} {{ if gt (len
  $posts) 3 }}

  {{ end }}
</div>
{{ end }}
